body {
    background-color: #fcf9f3;
}
main {
    background-color: #fcf9f3;
}
#redessociais {
    margin: 20px 0 15px 0;
    border-radius: 5px;
    text-decoration-line: none;
}
#covid {
    background-color: #2D3C6B;
    color: white;
    margin: 15px 0 15px 0;
}
@media (max-width: 700px) {
    #projetos { 
        
        display: block;
        margin: 20px 0 15px 0;
    }  
}
#projetos {
    color: #7a7a7a
    ;
    margin: 20px 0 20px 0;
    background-color: #fcf9f3;

}
#projetos a {
    color: #0d8694;
}
#institucional {
    background-color: #E5E0D7;
    padding: 10px 0 20px 0;
    font-size: 48px;
    color: #333333
    ;
}
#institucional a {
    color: #1094ab;

}

