#redessociais {
    background-color: rgb(133, 170, 202);
    border-radius: 5px;
    text-decoration-line: none;
}
#covid {
    background-color: rgb(38, 38, 151);
    color: white;
}
@media (max-width: 700px) {
    #os4 { 
        display: block;
    }
    
}