body {
    width: 100%;
    height: auto;
    background-color: #fcf9f3;
    /* background-color: #000; */
}
/* * {
    background-color: #000;
} */
main {
    background-color: #fcf9f3;
}
#redessociais {
    margin: 20px 0 15px 0;
    border-radius: 5px;
    text-decoration-line: none;
}
#covide a {
    text-decoration: none;
}
#covid {
    background-color: #2D3C6B;
    color: white;
    margin: 15px 0 15px 0;
}
@media (max-width: 700px) {
    #projetos { 
        
        display: block;
        margin: 20px 0 15px 0;
    }  
}
#projetos {
    color: #7a7a7a
    ;
    margin: 20px 0 20px 0;
    background-color: #fcf9f3;
}
#projetos a {
    color: #0d8694;
}
#institucional {
    margin-top: 25px;
    background-color: #E5E0D7;
    padding: 10px 0 20px 0;
    font-size: 48px;
    color: #333333;
}
#institucional a {
    color: #1094ab;
    text-decoration-line: none;
    font-size: 25px;
}
#destaques{
    margin-top: 40px;
    background:#F9F9F9;
    color: #050505
}
#destaques > img {
    align-items: center;
    
}
#destaques a {
    text-decoration-line: none;
    color: #0d8694;
}
footer { 
    padding: 20px 0 20px 0;
    margin-top: 30px;
    background: #EDB137;
}
footer a {
    
    text-decoration-line: none;
    color: #0d8694;
}
#footercol1 {
    margin: ;
}
#footercol2 {
    
}
#footercol3 {
    margin-top: 40px;
}
#campus a {
    text-decoration-line: none ;
    color: #0d8694;
}
#campuscol2 a{
    text-decoration-line: none ;
    color: #626262
    
}
#campuscol2 ul{
    list-style: none;
    color: #626262
}
#campus2e3 {
    margin: 40px 0;
}
#campus4e5 {
    margin: 40px 0;
}
#campus6e7 {
    margin: 40px 0;
}
.ensino img {
    max-width: 90%; max-height: 280px;
}
.ensino a {
    text-decoration-line: none ;
    color: #000
}
.ensino {
    margin-top: 90px;
}
#edu {
    margin-bottom: 30px;
}
